<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="styles/style.css">
</head>
<body class = "main">
  <header class = "banners" id = "HLeft">
    
  </header>

  <header class = "banners" id = "HRight">
    <div class = "next_button">
      <button type="button" onclick="window.location.href='/form'" > To the form! </button>
    </div>
  </header>

  <div class = "mid_container">
    <div id = "header">
      <img src = "/img/blackbeard.jpg" style="height: 150px;">

    </div>

    <div id = "info_pannel">
      <h1>
        <h1>Quiz Stats for <%= name %></h1>
        <h2>Your Answers:</h2>
  <ul>
    <% answers.forEach((answer, index) => { %>
      <li>Question <%= index + 1 %>: <%= answer ? 'Correct' : 'Incorrect' %></li>
    <% }); %>
  </ul>
  <h2>Time Taken for Each Question:</h2>
  <ul>
    <% times.forEach((time, index) => { %>
      <li>Question <%= index + 1 %>: <%= time %> ms</li>
    <% }); %>
  </ul>

  <h2>Average Time Per Question:</h2>
  <h2>
    <%= (times.reduce((total, time) => total + time, 0) / times.length).toFixed(2) %> ms
  </h2>
      

    </div>  

    
    
  </div>

  
<script src="/js/home.js"></script>

</body>
</html>